<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Collection home</title>

</head>

<body>
<nav>
  <ul>
    <li><a href="/index">All Items</a></li>
    <li><a href="/add">Add Item</a></li>
    <li><a href="/update-item">Update Item</a></li>
    <li><a href="/delete">Delete Item</a></li>

  </ul>
</nav>
<main>
  <section>
    <h1>All Action Figures</h1>
  </section>

  <section>

    <ul>
      {{ #actionfigure }}

      <li>
        <p> Name: {{ name }}</p>
        <p> Abilities: {{ abilities }} </p>
        <p> Bio: {{ bio }} </p>
      </li>

      {{ /actionfigure }}
    </ul>
  </section>
</main>
</body>
</html>
